/* Empty. Add your own CSS if you like */
<<<<<<< HEAD

=======
@import url(http://fonts.googleapis.com/css?family=Questrial);

.wide-as-needed{
	overflow-x:scroll;
	height:100px;
}

h1{
	font-family:'Oswald';
	font-size:22pt;
	margin-left:30pt;
	padding-top:5pt;
	display:none;
}

ion-item.item{
	font-family:'Questrial';
}

span.input-label{
	font-family:'Questrial';

}

button.button.button-block.button-positive{
	font-family:'Questrial';
	font-size:15pt;
}

button.button.button-clear{
	font-family:'Oswald';
	margin-bottom: -2px;

}
.modal{
	max-height: 235spx;
}

h4{
	font-family:'Oswald';
	font-weight:400;
	font-size:17pt;
	letter-spacing:.3pt;
}

/*
ion-scroll{
	max-wdith:100%;
}*/

/*.container{
	padding-left:10px;
	padding-right:10px;
}*/

img{
	width:80px;
	float:left;
	margin-right:5px;
}

.main-list-item{
/*	width:200px;*/
	float:left;
	max-width:200px;
}

.single-img{
	width:100%;
	margin-bottom:10px;

}

.container.single p{
	margin:0px 10px 0px 10px;

}

.nav-bar-title img{
	width:50%;
	max-width: 150px;
	margin:0 auto;
	margin-left:75px;

}

h4{
	padding-left:10px;
}
>>>>>>> 20e429a74a5f6136e3ff324b2992c1c4608d989a
